@import './base.css';

#app {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover { 
    /* background-color: hsla(160, 100%, 37%, 0.2); */
    text-decoration: underline;
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}

button{
  background-color: none;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.rounded{
  border-radius: 5px;
}

.bg-blue{
  background-color: #48aeda;
}

.bg-blue:hover{
  background-color: #2a90bb;
}

.bg-white{
  background-color: #fff;
}

.bg-green{
  background-color:  #5cd8b3;
}

.bg-green:hover{
  background-color:  #34bd94;
}

.text-white{
  color: #fff;
}

.text-slate{
  color: #222;
}

